@charset "UTF-8";
*{margin: 0; padding: 0;}
li{list-style: none;} /*숫자버튼 앞 점 사라지게 */

.wrap{
    width: 800px;
    margin: 100px auto 0; /* 위는 100px 중간은 중앙 아래는 0  */
}

.wrap .main .your-class{
    height: 420px;
}
.wrap .main .your-class .slick-slide{
    height: 420px;
}

/* slick-slide 원래 slick이 부여한 이름
s1 내가 지정해준 이름
기니까 s1으로 사용 */
.wrap .main .your-class .s1{}
.wrap .main .your-class .s2{}
.wrap .main .your-class .s3{}

.wrap .main .your-class .slick-slide video{
    width: 100%; /* 비율에 맞춰서 자동으로 줄여짐 */
} 
/* 비디오는 백그라운드로 안들어감
비디오 넣고 absolute로 다른걸 넣는방식으로 사용 */

/* 버튼 두개 다 실행 */
.wrap .main .your-class .slick-arrow{
    position: absolute;
    top: calc(50% - 10px); /* 버튼 높이가 20으로 20의 반만큼만 빼주기 */
    font-size: 0; /* ◀버튼 넣어준 다음 기존 영역 안보이게 설정 
    폰트의 기본값은 16px
    크롬에서는 최소 폰트크기가 10px이기 때문에
    8px --> 적용이 안됨, 10px 이상으로 주어야함
    0은 없어지는거라 먹히는데 3,4는 안먹힘
    크롬에 맞추기 구글형^^*/
    visibility: hidden; /* font-size를 0으로 하더라도 최소영역은 가지고 있음 그 영역을 안보이게 */
}

.wrap .main .your-class .slick-prev{
    z-index: 5; /* 제일 밑에 있던 prev올려주기 */
    left: 5%; /* 나의 왼쪽을 부모의 5%로 공간 주겠다 */
}

/* ▼ 위치 다 잡고 html에 fontawesome cdn 넣고 버튼 넣어주기, before after든 상관없음 */

.wrap .main .your-class .slick-prev::after{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible; /* visible; 자식까지 안보이게되었으니 다시 보이도록 설정 */
    font-size: 30px;
    color: #fff;
}

.wrap .main .your-class .slick-next{
    right: 5%; /* 나의 오른쪽을 부모의 5%로 공간 주겠다 */
}

.wrap .main .your-class .slick-next::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible; /* visible; 자식까지 안보이게되었으니 다시 보이도록 설정 */
    font-size: 30px;
    color: #fff;
}

.wrap .main .your-class .slick-dots{
    text-align: center;
}
.wrap .main .your-class .slick-dots li{
    display: inline-block; /* 인라인요소라 글자처럼 배열되지만 블록 요소의 성질을 가지고 있어서 공간을 이해할 수 있는 능력이 됨, 속성은 인라인처럼 자식의 공간만 차지하는데 블록요소가 섞여 있기때문에 공간을 이해할 수 있다 인라인속성이 있기때문에 텍스트 가운데 정렬도 가능 */
    margin: 20px 5px 0;
}

.wrap .main .your-class .slick-dots li button{
    border: none; /* 버튼은 태어날때부터 선을 가지고 태어남 */
    /* 이미지와 버튼은 인라인요소인데 이상하게 넓이를 인식함 */
    font-size: 0;
    width: 15px; height: 15px; /* 글자는 안보이고 공간은 넓어지는것 */
    border-radius: 50%;
    background-color: #999;
    transition: 0.3s;
}

/* ▼ 슬라이드 넘길때마다 버튼색 변하게->개발자모드로 확인 li slick-active은 붙어적기 */

.wrap .main .your-class .slick-dots li.slick-active button{
    background-color: pink;
    width: 20px;
    border-radius: 8px;
}